<!DOCTYPE html>
<html lang="{{#if language includeZero=true}}{{language}}{{else}}en{{/if}}" dir="ltr" data-nav-layout="vertical" data-theme-mode="dark" data-header-styles="dark" data-menu-styles="dark" data-toggled="close">
    <head>
        {{> meta }}
        {{> dashboard_base }}
    </head>
    <body>
        <!-- Loader -->
        <div id="loader" >
            <img src="../assets/images/media/loader.svg" alt="">
        </div>
        <!-- Loader -->

        
    </body>
</html>