<!-- Start::app-sidebar -->
<aside class="app-sidebar sticky" id="sidebar">

    <!-- Start::main-sidebar-header -->
    <div class="main-sidebar-header">
        <a href="/" class="header-logo">
            <img src="/assets/images/brand-logos/desktop-logo.png" alt="logo" class="desktop-logo">
            <img src="/assets/images/brand-logos/toggle-logo.png" alt="logo" class="toggle-logo">
            <img src="/assets/images/brand-logos/desktop-dark.png" alt="logo" class="desktop-dark">
            <img src="/assets/images/brand-logos/toggle-dark.png" alt="logo" class="toggle-dark">
            <img src="/assets/images/brand-logos/desktop-white.png" alt="logo" class="desktop-white">
            <img src="/assets/images/brand-logos/toggle-white.png" alt="logo" class="toggle-white">
        </a>
    </div>
    <!-- End::main-sidebar-header -->

    <!-- Start::main-sidebar -->
    <div class="main-sidebar" id="sidebar-scroll">

        <!-- Start::nav -->
        <nav class="main-menu-container nav nav-pills flex-column sub-open">
            <div class="slide-left" id="slide-left">
                <svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24">
                    <path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"></path>
                </svg>
            </div>
            <ul class="main-menu">
                <!-- Start::slide__category -->
                <li class="slide__category"><span class="category-name">General</span></li>
                <!-- End::slide__category -->

                <!-- Start::slide -->
                <li class="slide">
                    <a href="/" class="side-menu__item">
                        <i class="fe fe-home side-menu__icon"></i>
                        <span class="side-menu__label">Home</span>
                    </a>
                </li>
                <!-- End::slide -->

                {{#if profile.isAdmin}}
                <!-- Start::slide__category -->
                <li class="slide__category"><span class="category-name">Management</span></li>
                <!-- End::slide__category -->

                <!-- Start::slide -->
                <li class="slide has-sub">
                    <a href="javascript:void(0);" class="side-menu__item">
                        <i class="fe fe-users side-menu__icon"></i>
                        <span class="side-menu__label">Users</span>
                        <i class="fe fe-chevron-right side-menu__angle"></i>
                    </a>
                    <ul class="slide-menu child1">
                        <li class="slide side-menu__label1">
                            <a href="javascript:void(0)">Users</a>
                        </li>
                        <li class="slide">
                            <a href="/user/find/" class="side-menu__item">All Users</a>
                        </li>
                        <li class="slide">
                            <a href="/user/create/" class="side-menu__item">Create User</a>
                        </li>
                        <li class="slide">
                            <a href="/user/setup/" class="side-menu__item">Configure</a>
                        </li>
                    </ul>
                </li>
                <!-- End::slide -->

                <!-- Start::slide__category -->
                <li class="slide__category"><span class="category-name">Content</span></li>
                <!-- End::slide__category -->


                <!-- Start::slide__category -->
                <li class="slide__category"><span class="category-name">Storage</span></li>
                <!-- End::slide__category -->

                <!-- Start::slide__category -->
                <li class="slide__category"><span class="category-name">Modules</span></li>
                <!-- End::slide__category -->

                <!-- Start::slide__category -->
                <li class="slide__category"><span class="category-name">Analytics</span></li>
                <!-- End::slide__category -->
                
                <!-- Start::slide__category -->
                <li class="slide__category"><span class="category-name">Configure</span></li>
                <!-- End::slide__category -->


                {{else}}
                <!-- Start::slide__category -->
                <li class="slide__category"><span class="category-name">Profile</span></li>
                <!-- End::slide__category -->

                <li class="slide">
                    <a href="/user/" class="side-menu__item">
                        <i class="fe fe-user side-menu__icon"></i>
                        <span class="side-menu__label">My Profile</span>
                    </a>
                </li>
                <li class="slide">
                    <a href="/user/friends/" class="side-menu__item">
                        <i class="fe fe-users side-menu__icon"></i>
                        <span class="side-menu__label">Friends</span>
                    </a>
                </li>
                <li class="slide">
                    <a href="/user/content/" class="side-menu__item">
                        <i class="fe fe-package side-menu__icon"></i>
                        <span class="side-menu__label">Content</span>
                    </a>
                </li>
                <li class="slide">
                    <a href="/user/settings/" class="side-menu__item">
                        <i class="fe fe-settings side-menu__icon"></i>
                        <span class="side-menu__label">Settings</span>
                    </a>
                </li>
                <li class="slide">
                    <a href="/auth/logout/" class="side-menu__item">
                        <i class="fe fe-log-out side-menu__icon"></i>
                        <span class="side-menu__label">Logout</span>
                    </a>
                </li>
                {{/if}}

                
            </ul>
            <div class="slide-right" id="slide-right"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24"
                    height="24" viewBox="0 0 24 24">
                    <path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path>
                </svg></div>
        </nav>
        <!-- End::nav -->
    </div>
    <!-- End::main-sidebar -->
</aside>
<!-- End::app-sidebar -->