<!-- Footer Start -->
<footer class="footer mt-auto py-3 text-center">
    <div class="container">
        <span class="">Copyright © <span id="year"></span> <a href="/" class="text-primary">{{APP_NAME}}</a>.
            Powered by <a href="https://asway.tech/" target="_blank"><span class="text-primary">AppSway</span></a>. All rights reserved
        </span>
    </div>
</footer>
<!-- Footer End -->